*.log
*.json
*.css
*.less
*.scss
*.html
*.md
*.lock
*.ejs
.temp
.idea
.rn_temp
.DS_Store
.gitignore
.editorconfig
node_modules
packages/**/node_modules
packages/**/dist
src/libs
config/version.json
dist
build
h5versions
weapp
alipay
deploy_versions